<section class="row expanded">
    <div class="your-class">
      <div><%= image_tag('slick/food_01.jpg') %></div>
      <div><%= image_tag('slick/food_02.jpg') %></div>
      <div><%= image_tag('slick/food_03.jpg') %></div>
    </div>
</section>

<section class="breadcrumbs row expanded">
  <ul class="breadcrumbs columns">
    <li><%= link_to('Home', root_path, class: 'disabled' ) %></li>
    <li><%= link_to('Join the Team', welcome_join_the_team_path) %></li>
  </ul>
</section>

<section class="contact">
  <div class="row">
    <div class="small-12 large-10 large-centered columns">
      <%= render 'contacts/new' %>
    </div>
  </div>
</section>
