

<div class="well">
  <%= simple_form_for @resumes ||= Resume.new, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
